<div class="student-details-container">
    <div class="student-info">
        <h2>Student Details</h2>
        <div class="info-section">
            <div class="info-label">Name</div>
            <div class="info-value">{{ student.user?.name+ ' ' }} {{ student.user?.lastName}}</div>
          </div>
       <div class="info-section">
          <div class="info-label">JMBAG</div>
          <div class="info-value">{{ student.jmbag }}</div>
       </div>
    </div>

    <div class="courses-list">
        <h2>List of courses student is attending</h2>
        <mat-list *ngIf="!noCourses" class="mat-list">
            <mat-list-item class="list-item" *ngFor="let course of student.courses">
                <div class="course-name">{{ course.name }}</div>
                <button mat-icon-button class="align-right" (click)="openCourseDetails(course)">
                    <mat-icon>arrow_forward_ios</mat-icon>
                </button>
                <button mat-icon-button (click)="deleteCourseFromStudent(course)">
                    <mat-icon>delete</mat-icon>
                </button>
            </mat-list-item>
            </mat-list>
        <ng-container *ngIf="noCourses">
            <div style="text-align: center;">The student is not attending any course.</div>
        </ng-container>
    </div>

    <div class="professors-btns">
        <button mat-raised-button class="primary-btn" (click)="openAddCourseForm()">Add course to student</button>
    </div>