<mat-toolbar class="nav-bar mat-toolbar mat-toolbar-single-row">
    Users
    <button mat-icon-button style="margin-left:15px;" (click)="loadUsers()">
        <mat-icon>refresh</mat-icon>
    </button>
    <button mat-raised-button color="accent" style="margin-left:30px;" (click)="loadUsers()"> Search </button>
    <div style="display: flex;margin-left:auto;">
        <button style="margin-left: 10px" mat-raised-button class="primary-btn"
            (click)="openCreateForm()"><mat-icon>add</mat-icon>Create a new user</button>
    </div>
</mat-toolbar>
<table mat-table [dataSource]="dataSource" matSort>
    <!--Name-->
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let row"> {{ row.name }} </td>
    </ng-container>
    <ng-container matColumnDef="search-by-name">
        <th mat-header-cell *matHeaderCellDef>
            <form>
                <mat-form-field>
                    <input matInput placeholder="Search by name" name="name" type="text" [(ngModel)]="filter.name"
                        (keyup.enter)="loadUsers()">
                </mat-form-field>
            </form>
        </th>
    </ng-container>

    <!-- Last name -->
    <ng-container matColumnDef="last-name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Last name</th>
        <td mat-cell *matCellDef="let row"> {{ row.lastName }} </td>
    </ng-container>
    <ng-container matColumnDef="search-by-last-name">
        <th mat-header-cell *matHeaderCellDef>
            <form>
                <mat-form-field>
                    <input matInput placeholder="Search by last name" name="lastName" type="text"
                        [(ngModel)]="filter.lastName" (keyup.enter)="loadUsers()">
                </mat-form-field>
            </form>
        </th>
    </ng-container>
    <!-- Email -->
    <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
        <td mat-cell *matCellDef="let row"> {{ row.email }} </td>
    </ng-container>
    <ng-container matColumnDef="search-by-email">
        <th mat-header-cell *matHeaderCellDef>
            <form>
                <mat-form-field>
                    <input matInput placeholder="Search by email" name="email" type="text" [(ngModel)]="filter.email"
                        (keyup.enter)="loadUsers()">
                </mat-form-field>
            </form>
        </th>
    </ng-container>
    <!-- Role -->
    <ng-container matColumnDef="role">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Role</th>
        <td mat-cell *matCellDef="let row"> {{ row.role.name }} </td>
    </ng-container>
    <ng-container matColumnDef="search-by-role">
        <th mat-header-cell *matHeaderCellDef>
            <form>
                <mat-form-field>
                    <input matInput placeholder="Search by role" name="role" type="text" [(ngModel)]="filter.role"
                        (keyup.enter)="loadUsers()">
                </mat-form-field>
            </form>
        </th>
    </ng-container>

    <!-- Settings -->
    <ng-container matColumnDef="settings">
        <th mat-header-cell *matHeaderCellDef style="text-align:right;"></th>
        <td mat-cell *matCellDef="let row" style="text-align:right;">
            <button mat-icon-button [matMenuTriggerFor]="actionsMenu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #actionsMenu>
                <button mat-menu-item (click)="openEditForm(row)">
                    <mat-icon>edit</mat-icon>
                    <span>Edit</span>
                </button>
                <button mat-menu-item (click)="deleteUser($event, row)">
                    <mat-icon>delete</mat-icon>
                    <span>Delete</span>
                </button>
            </mat-menu>
        </td>
    </ng-container>
    <ng-container matColumnDef="settings-filter-header">
        <th mat-header-cell *matHeaderCellDef></th>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns;"></tr>
    <tr mat-header-row *matHeaderRowDef="displayedSearchColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>



    <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" [attr.colspan]="displayedColumns.length" style="text-align:center;">
            <ng-container *ngIf="isLoading">Please wait...</ng-container>
            <ng-container *ngIf="!isLoading">No data matching the filter.</ng-container>
        </td>
    </tr>
</table>


<mat-paginator [length]="pagination.totalResults" [pageSizeOptions]="pagination.pageSizeOptions" showFirstLastButtons>
</mat-paginator>