<div style="display:flex; flex-direction:column; height:100vh; background:whitesmoke;">
    <mat-card class="mat-elevation-z6" style="margin:auto;">
        <h1>{{ 'Prijava' | translate }}</h1>
        <form #loginForm="ngForm" (submit)="onSubmit()">
            <mat-form-field>
                <input type="text" name="emailOrUsername" matInput placeholder="{{ 'Email' | translate }}" [(ngModel)]="emailOrUsername" required>
                <mat-error *ngIf="loginForm.controls['emailOrUsername']?.errors?.['required']"> {{ 'Email je obavezan.' | translate }} </mat-error>
            </mat-form-field>
            <mat-form-field>
                <input type="password" name="password" matInput placeholder="{{ 'Lozinka' | translate }}" [(ngModel)]="password" required>
                <mat-error *ngIf="loginForm.controls['password']?.errors?.['required']"> {{ 'Lozinka je obavezna.' | translate }} </mat-error>
            </mat-form-field>
            <button mat-raised-button color="primary" type="submit" [disabled]="isLoading">{{ 'Prijavi se' | translate }}</button>
        </form>
        <!--
        <div style="text-align:center; margin-top:20px;">
            <a mat-button routerLink="/forgot-password" type="button"> {{ 'Forgot password' | translate }}</a>
        </div>
        -->
    </mat-card>
</div>