table {
    width: 100%;
    padding: 10px 20px 10px 20px;
}
.right-align {
    margin-left: auto;
}
.delete-icon:hover {
    color: #d0112b;
    cursor: pointer;
}

.mat-mdc-row:hover {
    background-color: whitesmoke;
}
