<div class="dashboard-container">
    <div class="consultations-section">  
<mat-card>
    <mat-card-title>Zakazane konzultacije</mat-card-title>
    <mat-card-content>
        <table mat-table [dataSource]="scheduledConsultations">
            <!-- Definiranje stupaca -->
            <ng-container matColumnDef="type">
                <th *matHeaderCellDef> Vrsta </th>
                <td mat-cell *matCellDef="let element" class="text-center">
                        <mat-icon *ngIf="element.type == 'IN_PERSON'">meeting_room</mat-icon>
                        <mat-icon *ngIf="element.type == 'ONLINE'">computer</mat-icon>
                </td>
            </ng-container>
            <ng-container matColumnDef="date">
                <th *matHeaderCellDef> Datum </th>
                <td mat-cell *matCellDef="let element" class="text-center" > {{element.schedule.date | date:'dd.MM.yyyy'  }} </td>
            </ng-container>
            <ng-container matColumnDef="start_time">
                <th *matHeaderCellDef> Početak </th>
                <td mat-cell *matCellDef="let element" class="text-center"> {{element.startTime | date:'HH:mm'}} </td>
            </ng-container>
            <ng-container matColumnDef="end_time">
                <th *matHeaderCellDef> Kraj </th>
                <td mat-cell *matCellDef="let element" class="text-center"> {{element.endTime | date:'HH:mm' }} </td>
            </ng-container>

            <ng-container matColumnDef="student">
                <th *matHeaderCellDef class="text-left"> Student </th>
                <td mat-cell *matCellDef="let element" > {{element.student.user.name + " "}} {{element.student.user.lastName}}</td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th *matHeaderCellDef class="text-right"></th>
                <td mat-cell *matCellDef="let element" class="text-right">
                    <button mat-icon-button [matMenuTriggerFor]="actionsMenu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #actionsMenu>
                        <button mat-menu-item (click)="openRequestDetails(element)">
                            <mat-icon>visibility</mat-icon>
                            <span>Detalji</span>
                        </button>
                    </mat-menu>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns;"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            
            
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" [attr.colspan]="displayedColumns.length" style="text-align:center;">
                <ng-container *ngIf="isLoading">Molimo sačekajte...</ng-container>
                <ng-container *ngIf="!isLoading">Nema zakazanih konzultacija</ng-container>
              </td>
            </tr>
        </table>
    </mat-card-content>
</mat-card>
</div>


<div class="requests-section">
<mat-card>
    <mat-card-title>Konzultacije koje čekaju odgovor</mat-card-title>
    <mat-card-content>
        <table mat-table [dataSource]="sentRequests">
            <!-- Definiranje stupaca -->
            <ng-container matColumnDef="type">
                <th *matHeaderCellDef> Vrsta </th>
                <td mat-cell *matCellDef="let element" class="text-center">
                        <mat-icon *ngIf="element.type == 'IN_PERSON'">meeting_room</mat-icon>
                        <mat-icon *ngIf="element.type == 'ONLINE'">computer</mat-icon>
                </td>
            </ng-container>
            <ng-container matColumnDef="date">
                <th *matHeaderCellDef> Datum </th>
                <td mat-cell *matCellDef="let element" class="text-center" > {{element.schedule.date | date:'dd.MM.yyyy'  }} </td>
            </ng-container>
            <ng-container matColumnDef="start_time">
                <th *matHeaderCellDef> Početak </th>
                <td mat-cell *matCellDef="let element" class="text-center"> {{element.startTime | date:'HH:mm'}} </td>
            </ng-container>
            <ng-container matColumnDef="end_time">
                <th *matHeaderCellDef> Kraj </th>
                <td mat-cell *matCellDef="let element" class="text-center"> {{element.endTime | date:'HH:mm' }} </td>
            </ng-container>

            <ng-container matColumnDef="student">
                <th *matHeaderCellDef class="text-left"> Student </th>
                <td mat-cell *matCellDef="let element" > {{element.student.user.name + " "}} {{element.student.user.lastName}}</td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th *matHeaderCellDef class="text-right"></th>
                <td mat-cell *matCellDef="let element" class="text-right">
                    <button mat-icon-button [matMenuTriggerFor]="actionsMenu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #actionsMenu>
                        <button mat-menu-item (click)="openRequestDetails(element)">
                            <mat-icon>visibility</mat-icon>
                            <span>Detalji</span>
                        </button>
                    </mat-menu>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns;"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            
            
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" [attr.colspan]="displayedColumns.length" style="text-align:center;">
                <ng-container *ngIf="isLoading">Molimo sačekajte...</ng-container>
                <ng-container *ngIf="!isLoading">Nema zahtjeva koji čekaju na odgovor</ng-container>
              </td>
            </tr>
        </table>
    </mat-card-content>
</mat-card>
</div>
</div>