.form {
    min-width: 450px;
    
}

  mat-list-item {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
  }
  
  .detail {
    font-weight: normal;
  }
  
  mat-dialog-actions {
    justify-content: flex-end;
  }

  